@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&family=Poppins:wght@200;400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.hero {
    height: 100%;
    width: 100%;
    background: url(./assets/bg01.png);
    /* background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(225,225,255,1) 35%, rgba(187,216,244,1) 100%); */
    z-index: -2;
    /* background: rgb(206, 172, 206); */
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
}

/* .bgImage {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
} */

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    /* background: white; */
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgb(0 0 0 / 10%);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 5px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    /* box-shadow: 0 0 20px 9px rgb(223, 223, 238); */
    border-radius: 30px;
    border: solid rgb(255, 255, 255);
    border-width: thin;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #e6caf1, #c0c9f5);
    border-radius: 30px;
    transition: .5s;
}


#error {
    font-size: 0.75rem;
    color: red;
}

.social-icons {
    margin: 30px auto;
    text-align: center;
}

.social-icons img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    /* border-radius: 50%; */
}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

#login {
    left: 50px;
}

#register {
    left: 450px;
}

.checkbox-row {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    gap: 0.2rem;
}

.checkbox-row span {
    color: #999;
    padding: 10px 0;
}

.form-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #e6caf1, #c0c9f5);
    border: 0;
    outline: none;
    border-radius: 30px;
    font-weight: 600;
}
